@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Book.woff2");
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Light.woff2");
  font-weight: lighter;
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Medium.woff2");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Graphik", sans-serif;
}

#full-box {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  transition: 0.8s;
}

#pre-loading {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#pre-loading .logo {
  display: block;
  width: 130px;
  height: 161px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
#pre-loading .logo img {
  position: absolute;
  width: 100%;
  top: 100%;
}
@keyframes logoPreloading {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
#pre-loading .text {
  position: relative;
  height: 18px;
}
#pre-loading .text span {
  display: block;
  height: 0;
  overflow: hidden;
  font-family: "Circular", sans-serif;
}
@keyframes textPreloading {
  0% {
    height: 0;
  }
  100% {
    height: 18px;
  }
}

#slides {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: #f89c1c;
  transition: top 0.8s cubic-bezier(0.5, 0.1, 0.5, 0.9), background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#slides .text {
  position: absolute;
  font-family: "Circular", sans-serif;
  color: white;
  font-size: 8vw;
  opacity: 0;
  margin-top: -100px;
  text-shadow: 0px 0.2vw 0.5vw rgba(0, 0, 0, 0.15);
}
#slides .text.text1 {
  margin-top: -500px;
}
@media screen and (orientation: portrait) {
  #slides .text {
    font-size: 10vw;
  }
}
@keyframes textIn {
  from {
    margin-top: -800px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes textOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 100px;
    opacity: 0;
  }
}
#slides .image {
  position: absolute;
  width: 90vh;
  height: 90vh;
}
#slides .image .box {
  max-height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slides .image img {
  width: 100%;
}
@media screen and (orientation: portrait) {
  #slides .image {
    width: 90vw;
    height: 90vw;
  }
}
@keyframes imageIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
@keyframes imageOut {
  from {
    max-height: 100%;
  }
  to {
    max-height: 0;
  }
}

body {
  overflow: hidden;
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(50% - 80px);
  left: 0;
  cursor: pointer;
  z-index: 1;
  transition: 0.25s;
  transform: translateX(-70px);
}
#menu .image {
  max-width: 60px;
  border: 4px solid black;
  background-color: white;
}
#menu .image img {
  width: 100%;
}
#menu p {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Circular", sans-serif;
  writing-mode: tb-rl;
  padding: 15px 0;
  border: 4px solid black;
  border-top: 0;
  letter-spacing: 5px;
  line-height: 52px;
  font-size: 14px;
  background-color: white;
  transition: 0.25s;
  text-align: center;
}
#menu .submenu {
  position: absolute;
  background-color: white;
  border: 4px solid black;
  border-top: 0;
  left: 2px;
  top: 64px;
  width: 250px;
  height: 0;
  overflow: hidden;
  transition: 0.25s;
  padding: 15px 0;
  display: none;
}
#menu .submenu li a {
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
  font-size: 16px;
  color: black;
  font-family: "Circular", sans-serif;
  display: block;
}
#menu.open {
  margin-left: -2px;
}
#menu.open p {
  transform: rotate(-90deg) translateX(127px) translateY(125px);
  line-height: 56px;
  height: 190px;
}
@media screen and (orientation: landscape) and (max-height: 800px), (max-width: 500px) {
  #menu .image {
    max-width: 48px;
  }
  #menu p {
    line-height: 40px;
  }
  #menu .submenu {
    top: 52px;
    width: 198px;
  }
  #menu.open p {
    line-height: 44px;
    height: 150px;
    transform: rotate(-90deg) translateX(101px) translateY(99px);
  }
}

#contact {
  position: fixed;
  z-index: 10;
  top: 50px;
  right: 50px;
  line-height: 6.5vh;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 0 50px;
  color: white;
  font-size: 1.4vh;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6vh;
  text-decoration: none;
  letter-spacing: 1px;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s, opacity 0.25s;
  opacity: 0;
}
@media (hover: hover) {
  #contact:hover {
    background-color: white;
    border-color: white;
    color: black;
  }
}
#contact:active {
  transform: translateY(1px);
}
#contact.black {
  color: black;
  border-color: rgba(0, 0, 0, 0.4);
}
#contact.black:hover {
  background-color: black;
  border-color: black;
  color: white;
}
@media screen and (orientation: portrait) {
  #contact {
    line-height: 5.5vh;
    font-size: 1vh;
  }
}
@media screen and (orientation: portrait) and (max-width: 500px) {
  #contact {
    line-height: 50px;
    font-size: 10px;
    padding: 0 35px;
    top: 25px;
    right: 25px;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  #contact {
    padding: 0 35px;
    line-height: 50px;
    font-size: 10px;
    top: 25px;
    right: 25px;
    border-radius: 30px;
  }
}

#page {
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  transform: translateY(100vh);
  transition: 1.2s cubic-bezier(0.5, 0.1, 0.5, 0.9);
  background-color: white;
}
#page .section {
  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}
@media screen and (max-width: 600px), (orientation: landscape) and (max-height: 600px) {
  #page .section {
    scroll-snap-align: unset;
  }
}
#page #banners {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#page #banners > div:not(.message):not(.layer) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 3s linear;
  min-width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#page #banners > div:not(.message):not(.layer).banner1 {
  opacity: 1;
  width: 100%;
}
#page #banners .layer {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#page #banners .layer .logo {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 160px;
}
@media screen and (max-width: 500px) {
  #page #banners .layer .logo {
    top: 33px;
    left: 25px;
    width: 130px;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  #page #banners .layer .logo {
    top: 33px;
    left: 25px;
    width: 130px;
  }
}
#page #banners .layer .icon-arrow-down {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  font-size: 30px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.25s;
  animation: goContent infinite 2s ease-in;
}
@keyframes goContent {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
#page #banners .layer .icon-arrow-down:hover {
  opacity: 1;
}
#page #banners .message {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75vw;
  height: 100vh;
}
#page #banners .message p {
  font-family: "Circular", sans-serif;
  font-size: 3.2vw;
  color: white;
  text-shadow: 0px 0.1vw 0.15vw rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
  #page #banners .message {
    max-width: 60vw;
    text-align: center;
    padding-bottom: 0;
  }
  #page #banners .message p {
    font-size: 6vw;
  }
}
@media screen and (orientation: portrait) and (min-width: 500px) {
  #page #banners .message {
    padding-bottom: 0;
  }
  #page #banners .message p {
    font-size: 4.5vw;
    text-align: center;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  #page #banners .message {
    padding-bottom: 0;
  }
  #page #banners .message p {
    text-align: center;
  }
}
#page #ladrillo {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/slide2.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 40%;
}
#page #ladrillo > div {
  max-width: 70vw;
  margin: auto;
  height: 100%;
  padding: 8vw 15px;
}
#page #ladrillo > div .title {
  font-family: "Circular", sans-serif;
  font-size: 12vw;
  line-height: 10vw;
  margin-bottom: 20vh;
}
#page #ladrillo > div .image {
  display: none;
}
#page #ladrillo > div .mission {
  margin-bottom: 20vh;
}
#page #ladrillo > div .mission strong {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-family: "Circular", sans-serif;
  font-size: 0.6vw;
}
#page #ladrillo > div .mission p {
  max-width: 40%;
  margin-top: 10px;
  font-size: 1.2vw;
}
@media screen and (max-width: 800px) {
  #page #ladrillo > div .title {
    font-size: 90px;
    line-height: 70px;
  }
}
@media screen and (max-width: 1366px) {
  #page #ladrillo > div .mission strong {
    font-size: 14px;
  }
  #page #ladrillo > div .mission p {
    max-width: 50%;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px), (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #ladrillo {
    background-image: unset;
  }
  #page #ladrillo > div {
    padding-top: 20vh;
    padding-left: 0;
    padding-right: 0;
  }
  #page #ladrillo > div .title {
    font-size: 70px;
    line-height: 65px;
    margin-bottom: 50px;
  }
  #page #ladrillo > div .image {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
  }
  #page #ladrillo > div .image img {
    width: 100%;
  }
  #page #ladrillo > div .mission p {
    max-width: 80%;
  }
}
#page #us {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  #page #us {
    height: calc(100vh + 25vh);
  }
}
#page #us .arrow {
  position: absolute;
  height: 3.5vw;
  width: 3.5vw;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  top: calc(50% - (3.5vw / 2));
  box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page #us .arrow.prev {
  left: 7vw;
}
#page #us .arrow.next {
  right: 7vw;
}
#page #us .arrow i {
  pointer-events: none;
  font-size: 0.75vw;
  transition: 0.25s;
  opacity: 0.5;
}
@media (hover: hover) {
  #page #us .arrow:hover {
    transform: scale(0.9);
  }
  #page #us .arrow:hover i {
    opacity: 1;
  }
  #page #us .arrow:hover.prev i {
    transform: translateX(-3px) scale(1.1);
  }
  #page #us .arrow:hover.next i {
    transform: translateX(3px) scale(1.1);
  }
}
#page #us .arrow:active {
  transform: translateY(3px) scale(0.9);
}
#page #us .arrow.disabled {
  pointer-events: none;
  opacity: 0.6;
}
@media screen and (max-width: 600px), (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #us .arrow {
    top: 90%;
    height: 45px;
    width: 45px;
  }
  #page #us .arrow i {
    font-size: 16px;
  }
  #page #us .arrow.prev {
    left: calc(50% - 50px);
  }
  #page #us .arrow.next {
    right: calc(50% - 50px);
  }
}
@media screen and (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #us .arrow {
    top: unset;
    bottom: 10%;
  }
}
#page #us .u {
  min-width: 100%;
  background-size: cover;
  background-position: center;
  padding: 5vh 20vw;
  position: absolute;
  height: 100%;
  left: 100%;
  transition: 1s ease-in-out;
  display: flex;
  align-items: center;
}
#page #us .u.us1 {
  background-image: url(../images/process1.jpg);
}
#page #us .u.us2 {
  background-image: url(../images/process2.jpg);
}
#page #us .u.us3 {
  background-image: url(../images/process3.jpg);
}
#page #us .u.us3 .content {
  background-image: url(../images/firma.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 80% 90%;
}
#page #us .u.active {
  left: 0;
}
#page #us .u.pass {
  left: -100vw;
}
#page #us .u .content {
  background-color: white;
  padding: 5vw;
  max-width: 35vw;
  height: 70vh;
  overflow: auto;
}
#page #us .u .content strong {
  font-family: "Circular", sans-serif;
  font-size: 2.2vw;
  font-weight: normal;
  margin-bottom: 1.5vw;
  display: block;
}
#page #us .u .content p {
  font-size: 1vw;
  font-family: "Graphik", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6vw;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}
#page #us .u .content p:not(:last-child) {
  margin-bottom: 15px;
}
#page #us .u .content::-webkit-scrollbar {
  width: 10px;
}
#page #us .u .content::-webkit-scrollbar-track {
  background-color: transparent;
}
#page #us .u .content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
@media screen and (max-width: 600px), (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #us .u {
    max-width: 100%;
    padding: 0;
  }
  #page #us .u .content {
    max-width: unset;
    padding: 50px 40px;
    margin: auto;
    width: 70%;
  }
  #page #us .u .content strong {
    font-size: 22px;
    margin-bottom: 17px;
  }
  #page #us .u .content p {
    font-size: 14px;
    line-height: unset;
  }
}
@media screen and (max-width: 600px) and (min-width: 700px), screen and (orientation: landscape) and (max-height: 600px) and (min-width: 700px), screen and (orientation: portrait) and (min-width: 700px) {
  #page #us .u .content {
    height: 50vh;
  }
  #page #us .u .content strong {
    font-size: 26px;
  }
  #page #us .u .content p {
    font-size: 16px;
  }
}
#page #process {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page #process .content {
  max-width: 70vw;
  width: 100%;
  height: 65vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
#page #process .content img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30vw;
  clip-path: polygon(50% 0, 100% 50%, 100% 100%, 50% 50%, 0 100%, 0% 50%);
}
#page #process .content > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#page #process .content > div h2 {
  font-family: "Circular", sans-serif;
  font-size: 10vw;
  line-height: 9vw;
  font-weight: lighter;
}
#page #process .content > div p {
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.7);
  padding: 1vh 0;
  margin: 4vh 0;
}
#page #process .content > div a {
  line-height: 6.5vh;
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 0 70px;
  color: black;
  font-size: 1.4vh;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6vh;
  text-decoration: none;
  letter-spacing: 1px;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
#page #process .content > div a:hover {
  background-color: black;
  border-color: black;
  color: white;
}
#page #process .content > div a:active {
  transform: translateY(1px);
}
@media screen and (max-width: 600px), (orientation: portrait) {
  #page #process .content > div {
    width: 100%;
    justify-content: unset;
  }
  #page #process .content > div h2 {
    font-size: 70px;
    line-height: unset;
  }
  #page #process .content > div p {
    font-size: 18px;
    text-align: center;
  }
  #page #process .content > div a {
    padding: 0 35px;
    line-height: 50px;
    font-size: 10px;
    top: 25px;
    right: 25px;
    border-radius: 30px;
  }
  #page #process .content img {
    width: 100%;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  #page #process .content > div h2 {
    font-size: 70px;
    line-height: unset;
  }
  #page #process .content > div p {
    font-size: 18px;
    text-align: center;
  }
  #page #process .content > div a {
    padding: 0 35px;
    line-height: 50px;
    font-size: 10px;
    top: 25px;
    right: 25px;
    border-radius: 30px;
  }
}
#page #proc1, #page #proc2, #page #proc3, #page #proc4 {
  min-height: 100vh;
  background: linear-gradient(-90deg, #0f0f0f 50%, #1a1a1a 100%);
  display: flex;
}
#page #proc1 .content, #page #proc2 .content, #page #proc3 .content, #page #proc4 .content {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page #proc1 .content > div, #page #proc2 .content > div, #page #proc3 .content > div, #page #proc4 .content > div {
  width: 50%;
}
#page #proc1 .content > div h2, #page #proc2 .content > div h2, #page #proc3 .content > div h2, #page #proc4 .content > div h2 {
  color: white;
  font-size: 2.4vw;
  font-family: "Graphik", sans-serif;
  font-weight: bold;
  margin-bottom: 3vh;
}
#page #proc1 .content > div p, #page #proc2 .content > div p, #page #proc3 .content > div p, #page #proc4 .content > div p {
  font-size: 1.38vw;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}
#page #proc1 .image, #page #proc2 .image, #page #proc3 .image, #page #proc4 .image {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px), (orientation: portrait) {
  #page #proc1, #page #proc2, #page #proc3, #page #proc4 {
    flex-direction: column;
  }
  #page #proc1 .content, #page #proc2 .content, #page #proc3 .content, #page #proc4 .content {
    height: 50vh;
    width: 100%;
  }
  #page #proc1 .content > div, #page #proc2 .content > div, #page #proc3 .content > div, #page #proc4 .content > div {
    width: 65%;
  }
  #page #proc1 .content > div h2, #page #proc2 .content > div h2, #page #proc3 .content > div h2, #page #proc4 .content > div h2 {
    font-size: 26px;
  }
  #page #proc1 .content > div p, #page #proc2 .content > div p, #page #proc3 .content > div p, #page #proc4 .content > div p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) and (min-width: 700px), screen and (orientation: portrait) and (min-width: 700px) {
  #page #proc1 .content > div h2, #page #proc2 .content > div h2, #page #proc3 .content > div h2, #page #proc4 .content > div h2 {
    font-size: 34px;
  }
  #page #proc1 .content > div p, #page #proc2 .content > div p, #page #proc3 .content > div p, #page #proc4 .content > div p {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px), (orientation: portrait) {
  #page #proc1 .image, #page #proc2 .image, #page #proc3 .image, #page #proc4 .image {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (orientation: landscape) and (max-height: 600px) {
  #page #proc1 .content > div h2, #page #proc2 .content > div h2, #page #proc3 .content > div h2, #page #proc4 .content > div h2 {
    font-size: 26px;
  }
  #page #proc1 .content > div p, #page #proc2 .content > div p, #page #proc3 .content > div p, #page #proc4 .content > div p {
    font-size: 14px;
  }
}
#page #proc1 .image {
  background-image: url("../images/pr1.jpg");
}
#page #proc2 .image {
  background-image: url("../images/pr2.jpg");
}
@media screen and (max-width: 600px), (orientation: portrait) {
  #page #proc2 .image {
    order: 2;
  }
}
#page #proc3 .image {
  background-image: url("../images/pr3.jpg");
}
#page #proc4 .image {
  background-image: url("../images/pr4.jpg");
}
@media screen and (max-width: 600px), (orientation: portrait) {
  #page #proc4 .image {
    order: 2;
  }
}
#page #projects {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(-90deg, #0f0f0f 50%, #1a1a1a 100%);
  display: flex;
}
#page #projects::after {
  content: "";
  background: linear-gradient(-90deg, #0f0f0f 50%, #1a1a1a 100%);
  height: 15vh;
  width: 100%;
  position: absolute;
  top: 100%;
}
#page #projects .content {
  background-image: url(../images/projects.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  width: 100%;
  max-width: 70vw;
  height: 65vh;
  margin: auto;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page #projects .content h2 {
  color: white;
  font-family: "Circular", sans-serif;
  font-size: 12vw;
  font-weight: lighter;
}
#page #projects .content .image {
  display: none;
}
#page #projects .content p {
  max-width: 50%;
  margin-top: 10px;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 600px), (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #projects .content {
    padding: 0;
    background-image: unset;
    justify-content: flex-start;
    height: auto;
    padding: 20vh 0 20vh 0;
  }
  #page #projects .content h2 {
    margin-bottom: 30px;
  }
  #page #projects .content .image {
    display: block;
    max-height: 50vh;
    overflow: hidden;
  }
  #page #projects .content .image img {
    width: 100%;
  }
  #page #projects .content p {
    font-size: 15px;
    line-height: unset;
    max-width: unset;
    margin-top: 30px;
  }
}
#page #video {
  min-height: 100vh;
  position: relative;
  width: 85vw;
  background-color: #edab27;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page #video .arrow {
  position: absolute;
  height: 3.5vw;
  width: 3.5vw;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  bottom: 5%;
  box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page #video .arrow.prev {
  right: 12%;
}
#page #video .arrow.next {
  right: 7%;
}
#page #video .arrow i {
  pointer-events: none;
  font-size: 0.75vw;
  transition: 0.25s;
  opacity: 0.5;
}
@media (hover: hover) {
  #page #video .arrow:hover {
    transform: scale(0.9);
  }
  #page #video .arrow:hover i {
    opacity: 1;
  }
  #page #video .arrow:hover.prev i {
    transform: translateX(-3px) scale(1.1);
  }
  #page #video .arrow:hover.next i {
    transform: translateX(3px) scale(1.1);
  }
}
#page #video .arrow:active {
  transform: translateY(3px) scale(0.9);
}
#page #video .arrow.disabled {
  pointer-events: none;
  opacity: 0.6;
}
@media screen and (max-width: 600px), (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #video .arrow {
    top: 90%;
    height: 45px;
    width: 45px;
  }
  #page #video .arrow i {
    font-size: 16px;
  }
  #page #video .arrow.prev {
    left: calc(50% - 50px);
  }
  #page #video .arrow.next {
    right: calc(50% - 50px);
  }
}
@media screen and (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #video .arrow {
    top: unset;
    bottom: 10%;
  }
}
#page #video .content {
  max-width: 70vw;
  width: 100%;
  min-height: 100vh;
  color: white;
  position: relative;
  overflow: hidden;
}
#page #video .content .project {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 110%;
  transition: 0.4s cubic-bezier(0.5, 0.1, 0.5, 0.9);
}
#page #video .content .project.active {
  left: 0;
}
#page #video .content .project.pass {
  left: -110%;
}
#page #video .content .project .flex {
  display: flex;
  margin-bottom: 5vh;
}
#page #video .content .project .flex .video {
  min-width: 60%;
  margin-right: 5%;
}
#page #video .content .project .flex .video video {
  width: 100%;
}
#page #video .content .project .flex .video.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19vh 5vw;
  position: relative;
}
#page #video .content .project .flex .video.empty p {
  font-size: 1.2vw;
  text-align: center;
}
#page #video .content .project .flex .video.empty::before, #page #video .content .project .flex .video.empty::after {
  content: "";
  display: block;
  width: 170px;
  height: 170px;
  position: absolute;
  z-index: 0;
  border-style: solid;
  border-color: white;
}
#page #video .content .project .flex .video.empty::before {
  border-width: 4px 0 0 4px;
  top: 0;
  left: 0;
}
#page #video .content .project .flex .video.empty::after {
  border-width: 0 4px 4px 0;
  bottom: 0;
  right: 0;
}
#page #video .content .project .flex > div:not(.video) {
  padding-top: 3vh;
}
#page #video .content .project .flex > div:not(.video) p {
  font-family: "Circular", sans-serif;
  font-size: 1.5vw;
  padding: 2vh 0;
  border-bottom: 1px solid white;
}
#page #video .content .project > div:not(.flex) p:first-child {
  font-family: "Circular", sans-serif;
  font-size: 2vw;
  padding-bottom: 1vh;
  font-weight: bold;
}
#page #video .content .project > div:not(.flex) p:last-child {
  font-family: "Circular", sans-serif;
  font-size: 0.8vw;
  letter-spacing: 0.15vw;
  text-transform: uppercase;
}
@media screen and (max-width: 600px), (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #video {
    width: 100%;
  }
  #page #video .content .project {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
  }
  #page #video .content .project .flex {
    flex-direction: column;
    order: 2;
    margin-top: 30px;
  }
  #page #video .content .project .flex video {
    width: 100%;
    margin-right: unset;
  }
  #page #video .content .project .flex > div p {
    font-size: 18px;
  }
  #page #video .content .project > div:not(.flex) p:first-child {
    font-size: 20px;
  }
  #page #video .content .project > div:not(.flex) p:last-child {
    font-size: 16px;
  }
}
#page #connect {
  min-height: 150vh;
  position: relative;
  background: linear-gradient(-90deg, #0f0f0f 50%, #1a1a1a 100%);
}
#page #connect .content {
  width: 100%;
  height: 100%;
  max-width: 70vw;
  margin: auto;
  padding: 20vh 0;
}
#page #connect .content h2 {
  color: white;
  font-family: "Circular", sans-serif;
  font-size: 10vw;
  font-weight: lighter;
  margin-bottom: 10vh;
}
#page #connect .content > p {
  max-width: 80%;
  margin-top: 10px;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: rgba(255, 255, 255, 0.5);
  padding: 1vh 0;
}
#page #connect .content .flex {
  margin-top: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#page #connect .content .flex form {
  width: 50%;
  margin-right: 5vw;
  padding-right: 5vw;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
#page #connect .content .flex form input[type=text], #page #connect .content .flex form select, #page #connect .content .flex form textarea {
  display: block;
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  margin-bottom: 20px;
  outline: none;
  color: white;
  font-size: 17px;
  resize: none;
}
#page #connect .content .flex form input[type=text]::placeholder, #page #connect .content .flex form select::placeholder, #page #connect .content .flex form textarea::placeholder {
  color: rgba(255, 255, 255, 0.2);
}
#page #connect .content .flex form input[type=text]:focus, #page #connect .content .flex form select:focus, #page #connect .content .flex form textarea:focus {
  border-color: white;
}
#page #connect .content .flex form input[type=text] option, #page #connect .content .flex form select option, #page #connect .content .flex form textarea option {
  color: black;
  margin: 50px 0;
}
#page #connect .content .flex form textarea {
  margin-bottom: 50px;
  height: 100px;
  padding-top: 10px;
}
#page #connect .content .flex form button {
  line-height: 6.5vh;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 0 50px;
  color: white;
  font-size: 1.4vh;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6vh;
  text-decoration: none;
  letter-spacing: 1px;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
#page #connect .content .flex form button:hover {
  background-color: white;
  border-color: white;
  color: black;
}
#page #connect .content .flex form button:active {
  transform: translateY(1px);
}
#page #connect .content .flex > div {
  width: 50%;
  padding-top: 7vh;
}
#page #connect .content .flex > div p, #page #connect .content .flex > div a {
  margin-top: 10px;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: rgba(255, 255, 255, 0.5);
  padding: 1vh 0;
  display: flex;
  align-items: center;
  text-align: center;
}
#page #connect .content .flex > div p img, #page #connect .content .flex > div a img {
  width: 35px;
  margin-right: 20px;
}
#page #connect .content .flex > div a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px), (orientation: landscape) and (max-height: 600px), (orientation: portrait) {
  #page #connect .content h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  #page #connect .content > p {
    max-width: unset;
    font-size: 14px;
    line-height: 22px;
  }
  #page #connect .content .flex {
    flex-direction: column;
  }
  #page #connect .content .flex form {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 80px;
    padding-bottom: 80px;
  }
  #page #connect .content .flex form button {
    padding: 0 35px;
    line-height: 50px;
    font-size: 10px;
    top: 25px;
    right: 25px;
    border-radius: 30px;
  }
  #page #connect .content .flex > div {
    padding-top: 0;
    width: 100%;
  }
  #page #connect .content .flex > div p, #page #connect .content .flex > div a {
    font-size: 14px;
    line-height: 22px;
    max-width: unset;
  }
  #page #connect .content .flex > div p {
    margin-top: 0;
  }
  #page #connect .content .flex > div a {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=index.css.map */
