@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Book.woff2");
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Light.woff2");
  font-weight: lighter;
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Medium.woff2");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Graphik", sans-serif;
}

#full-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: margin-top 0.8s cubic-bezier(0.5, 0.1, 0.5, 0.9);
}

#pre-loading {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#pre-loading .logo {
  display: block;
  width: 130px;
  height: 161px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
#pre-loading .logo img {
  position: absolute;
  width: 100%;
  top: 100%;
}
@keyframes logoPreloading {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
#pre-loading .text {
  position: relative;
  height: 18px;
}
#pre-loading .text span {
  display: block;
  height: 0;
  overflow: hidden;
  font-family: "Circular", sans-serif;
}
@keyframes textPreloading {
  0% {
    height: 0;
  }
  100% {
    height: 18px;
  }
}

#slides {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: #f89c1c;
  transition: top 0.8s cubic-bezier(0.5, 0.1, 0.5, 0.9), background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#slides .text {
  position: absolute;
  font-family: "Circular", sans-serif;
  color: white;
  font-size: 8vw;
  opacity: 0;
  margin-top: -100px;
  text-shadow: 0px 0.2vw 0.5vw rgba(0, 0, 0, 0.15);
}
#slides .text.text1 {
  margin-top: -500px;
}
@keyframes textIn {
  from {
    margin-top: -800px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes textOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 100px;
    opacity: 0;
  }
}
#slides .image {
  position: absolute;
  width: 90vh;
  height: 90vh;
}
#slides .image .box {
  max-height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slides .image img {
  width: 100%;
}
@keyframes imageIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
@keyframes imageOut {
  from {
    max-height: 100%;
  }
  to {
    max-height: 0;
  }
}

#page {
  display: none;
}
#page #banners {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#page #banners > div:not(.message):not(.layer) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 3s linear;
  min-width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#page #banners > div:not(.message):not(.layer).banner1 {
  opacity: 1;
  width: 100%;
}
#page #banners .layer {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#page #banners .layer .logo {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 160px;
}
#page #banners .layer .contact {
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 50px;
  line-height: 6.5vh;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 0 50px;
  color: white;
  font-size: 1.4vh;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6vh;
  text-decoration: none;
  letter-spacing: 1px;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}
#page #banners .layer .contact:hover {
  background-color: white;
  border-color: white;
  color: black;
}
#page #banners .layer .contact:active {
  transform: translateY(1px);
}
#page #banners .layer .contact.black {
  color: black;
  border-color: rgba(0, 0, 0, 0.4);
}
#page #banners .layer .contact.black:hover {
  background-color: black;
  border-color: black;
  color: white;
}
#page #banners .layer .icon-arrow-down {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  font-size: 30px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.25s;
  animation: goContent infinite 2s ease-in;
}
@keyframes goContent {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
#page #banners .layer .icon-arrow-down:hover {
  opacity: 1;
}
#page #banners .message {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75vw;
  height: 100vh;
  padding-bottom: 15vh;
}
#page #banners .message p {
  font-family: "Circular", sans-serif;
  font-size: 3.2vw;
  color: white;
  text-shadow: 0px 0.1vw 0.15vw rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
}
#page #menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: calc(50% - 90px);
  left: 0;
  background-color: white;
  cursor: pointer;
  z-index: 1;
}
#page #menu .image {
  max-width: 40px;
  border: 4px solid black;
}
#page #menu .image img {
  width: 100%;
}
#page #menu p {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Circular", sans-serif;
  writing-mode: tb-rl;
  padding: 15px 0;
  border: 4px solid black;
  border-top: 0;
  letter-spacing: 5px;
  line-height: 32px;
  font-size: 14px;
}
#page #ladrillo {
  height: calc(100vh + 40vh);
  width: 100%;
  background-image: url(../images/slide2.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 40%;
}
#page #ladrillo > div {
  max-width: 70vw;
  margin: auto;
  height: 100%;
  padding: 8vw 15px;
}
#page #ladrillo > div .title {
  font-family: "Circular", sans-serif;
  font-size: 13vw;
  line-height: 12vw;
  margin-bottom: 20vh;
}
#page #ladrillo > div .mission strong {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-family: "Circular", sans-serif;
  font-size: 0.6vw;
}
#page #ladrillo > div .mission p {
  max-width: 40%;
  margin-top: 10px;
  font-size: 1.2vw;
}
@media screen and (max-width: 1366px) {
  #page #ladrillo > div .title {
    font-size: 90px;
  }
  #page #ladrillo > div .mission strong {
    font-size: 14px;
  }
  #page #ladrillo > div .mission p {
    max-width: 50%;
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  #page #ladrillo > div .title {
    font-size: 90px;
  }
}
#page #process {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
#page #process .arrow {
  position: absolute;
  height: 3.5vw;
  width: 3.5vw;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  top: calc(50% - (3.5vw / 2));
  box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page #process .arrow.prev {
  left: 7vw;
}
#page #process .arrow.next {
  right: 7vw;
}
#page #process .arrow i {
  pointer-events: none;
  font-size: 0.75vw;
  transition: 0.25s;
  opacity: 0.5;
}
@media (hover: hover) {
  #page #process .arrow:hover {
    transform: scale(0.9);
  }
  #page #process .arrow:hover i {
    opacity: 1;
  }
  #page #process .arrow:hover.prev i {
    transform: translateX(-3px) scale(1.1);
  }
  #page #process .arrow:hover.next i {
    transform: translateX(3px) scale(1.1);
  }
}
#page #process .arrow:active {
  transform: translateY(3px) scale(0.9);
}
#page #process .arrow.disabled {
  pointer-events: none;
  opacity: 0.6;
}
#page #process .proc {
  min-width: 100%;
  background-size: cover;
  background-position: center;
  padding: 5vh 20vw;
  position: absolute;
  height: 100%;
  left: 100%;
  transition: 1s ease-in-out;
  display: flex;
  align-items: center;
}
#page #process .proc.process1 {
  background-image: url(../images/process1.jpg);
}
#page #process .proc.process2 {
  background-image: url(../images/process2.jpg);
}
#page #process .proc.process3 {
  background-image: url(../images/process3.jpg);
}
#page #process .proc.active {
  left: 0;
}
#page #process .proc.pass {
  left: -100vw;
}
#page #process .proc .content {
  background-color: white;
  padding: 5vw;
  max-width: 35vw;
  height: 75vh;
  overflow: auto;
}
#page #process .proc .content strong {
  font-family: "Circular", sans-serif;
  font-size: 2.2vw;
  font-weight: normal;
  margin-bottom: 1.5vw;
  display: block;
}
#page #process .proc .content p {
  font-size: 1vw;
  font-family: "Graphik", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6vw;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}
#page #process .proc .content p:not(:last-child) {
  margin-bottom: 15px;
}
#page #process .proc .content::-webkit-scrollbar {
  width: 10px;
}
#page #process .proc .content::-webkit-scrollbar-track {
  background-color: transparent;
}
#page #process .proc .content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
#page #projects {
  height: 100vh;
  display: flex;
  position: relative;
  background: linear-gradient(-90deg, #0f0f0f 50%, #1a1a1a 100%);
}
#page #projects::after {
  content: "";
  background: linear-gradient(-90deg, #0f0f0f 50%, #1a1a1a 100%);
  height: 15vh;
  width: 100%;
  position: absolute;
  top: 100%;
}
#page #projects .content {
  background-image: url(../images/projects.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  width: 100%;
  max-width: 70vw;
  height: 65vh;
  margin: auto;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page #projects .content h2 {
  color: white;
  font-family: "Circular", sans-serif;
  font-size: 13vw;
  font-weight: lighter;
}
#page #projects .content p {
  max-width: 50%;
  margin-top: 10px;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: rgba(255, 255, 255, 0.5);
}
#page #video {
  height: 100vh;
  display: flex;
  position: relative;
  width: 85vw;
  background-color: #edab27;
  justify-content: center;
  align-items: center;
}
#page #video .content {
  max-width: 70vw;
  width: 100%;
  color: white;
}
#page #video .content video {
  min-width: 60%;
  margin-right: 5%;
}
#page #video .content .flex {
  display: flex;
  margin-bottom: 5vh;
}
#page #video .content .flex p {
  font-family: "Circular", sans-serif;
  font-size: 1.5vw;
  padding: 3vh 0;
  border-bottom: 2px solid white;
}
#page #video .content > div:not(.flex) p:first-child {
  font-family: "Circular", sans-serif;
  font-size: 2vw;
  padding-bottom: 1vh;
  font-weight: bold;
}
#page #video .content > div:not(.flex) p:last-child {
  font-family: "Circular", sans-serif;
  font-size: 0.8vw;
  letter-spacing: 0.15vw;
  text-transform: uppercase;
}
#page #connect {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(-90deg, #0f0f0f 50%, #1a1a1a 100%);
}
#page #connect .content {
  width: 100%;
  max-width: 70vw;
  margin: auto;
  padding: 20vh 0;
}
#page #connect .content h2 {
  color: white;
  font-family: "Circular", sans-serif;
  font-size: 10vw;
  font-weight: lighter;
  margin-bottom: 10vh;
}
#page #connect .content > p {
  max-width: 80%;
  margin-top: 10px;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: rgba(255, 255, 255, 0.5);
  padding: 1vh 0;
}
#page #connect .content .flex {
  margin-top: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#page #connect .content .flex form {
  width: 50%;
  margin-right: 5vw;
  padding-right: 5vw;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
#page #connect .content .flex form input[type=text], #page #connect .content .flex form select, #page #connect .content .flex form textarea {
  display: block;
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  margin-bottom: 20px;
  outline: none;
  color: white;
  font-size: 17px;
  resize: none;
}
#page #connect .content .flex form input[type=text]::placeholder, #page #connect .content .flex form select::placeholder, #page #connect .content .flex form textarea::placeholder {
  color: rgba(255, 255, 255, 0.2);
}
#page #connect .content .flex form input[type=text]:focus, #page #connect .content .flex form select:focus, #page #connect .content .flex form textarea:focus {
  border-color: white;
}
#page #connect .content .flex form input[type=text] option, #page #connect .content .flex form select option, #page #connect .content .flex form textarea option {
  color: black;
  margin: 50px 0;
}
#page #connect .content .flex form textarea {
  margin-bottom: 50px;
  height: 100px;
  padding-top: 10px;
}
#page #connect .content .flex form button {
  line-height: 70px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 0 70px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6vh;
  text-decoration: none;
  letter-spacing: 1px;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
  background-color: transparent;
  cursor: pointer;
}
#page #connect .content .flex form button:hover {
  background-color: white;
  border-color: white;
  color: black;
}
#page #connect .content .flex form button:active {
  transform: translateY(1px);
}
#page #connect .content .flex > div {
  width: 50%;
}
#page #connect .content .flex > div p, #page #connect .content .flex > div a {
  max-width: 80%;
  margin-top: 10px;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: rgba(255, 255, 255, 0.5);
  padding: 1vh 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
#page #connect .content .flex > div p img, #page #connect .content .flex > div a img {
  width: 50px;
  margin-right: 20px;
}
#page #connect .content .flex > div a {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
